:root {
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --first-btn-color: #ffffff;
  --second-btn-color: var(--second-title-color);
  --bg-grad: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
}

/**--------------------- RESET ---------------------*/

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

a {
  color: currentColor;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

/**--------------------- BASE ---------------------*/

body {
  font-family: 'Open Sans', sans-serif;
  /* color: red; */
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 84px;
  padding-bottom: 84px;
}

.btn {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
}

.section-title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 20px;
}

.pre-title::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: currentColor;
  /* display: inline-block;
  vertical-align: middle;
  margin-right: 20px; */
}

.post-title {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
}

/**--------------------- HEADER ---------------------*/

.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
}

.header-container {
  display: flex;
  align-items: center;
  padding-right: 30px;
}
.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-logo {
  margin-right: 131px;
  background-color: #f7f7f7;
}

.header-list,
.header-tel,
.header-btn {
  display: none;
}

.menu-open-btn {
  background-color: transparent;
  border: none;
}

.menu-open-icon {
  stroke: #ffffff;
}

.mob-menu {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100%;
  background-color: #ffffff;

  padding: 48px 30px 48px 40px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  overflow: auto;
}
.menu-close-btn {
  margin-left: auto;
  display: block;
  background-color: transparent;
  border: none;
  margin-bottom: 30px;
}

.mob-menu-list {
  margin-bottom: 32px;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 24px;
}
.mob-menu-link {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(25 / 18);
  letter-spacing: 0.1em;
  color: #303030;
}

.mob-menu-tel {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(25 / 18);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
  display: block;
  margin-bottom: 24px;
}
.mob-menu-btn {
  margin-bottom: 64px;
}

.mob-soc-list {
}
.mob-soc-item:not(:last-child) {
  margin-bottom: 24px;
}
.mob-soc-link {
  font-weight: 600;
  font-size: 14px;
  line-height: calc(19 / 14);
  letter-spacing: 0.2em;

  color: #303030;
}

.mob-menu-bottom {
  margin-top: auto;
}

/**--------------------- HERO ---------------------*/

.hero {
  background-image: var(--bg-grad), url(../img/hero-bg-mob.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-grad), url(../img/hero-bg-mob-2x.jpeg);
  }
}

.hero-container {
  display: flex;
}

.hero-wrap {
  flex-grow: 1;
  padding: 210px 0px;
}

.hero-soc {
  display: none;
}

.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.hero-title {
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--first-title-color);
  margin-bottom: 20px;
}

.hero-post-title {
  color: #9da4bd;
  max-width: 320px;
}

/**--------------------- ABOUT ---------------------*/

.about-container {
  display: flex;
}

.about-list {
  display: flex;
  gap: 30px;
  margin-right: 30px;
}

.about-wrap {
  padding-right: 100px;
}

.about-item {
}
.about-pre-title {
  color: #303030;
  margin-bottom: 20px;
}
.about-title {
  color: var(--second-title-color);
  margin-bottom: 20px;
}

.about-post-title {
  color: #555555;
  margin-bottom: 20px;
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 42px;
}
.about-btn {
  color: #303030;
}

/**--------------------- PRICES ---------------------*/

.prices {
  background-color: #111319;
  background-image: url(../img/prices-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}
.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}
.prices-title {
  color: var(--first-title-color);
  margin-bottom: 44px;
}

.prices-list-wrap {
  display: flex;
  justify-content: space-between;
}
.prices-list {
  padding: 30px 20px;
  width: calc((100% - 30px) / 2);

  /* width: 570px; */
}

.prices-list:first-child {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.prices-list:last-child {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.prices-item {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;
}

.prices-item::before {
  content: '';
  width: 100px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
}

.prices-item:last-child {
  margin-bottom: 0;
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-item-text:first-child {
  order: -1;
}

.prices-item-text:first-child:hover::before {
  opacity: 1;
}

.prices-item-text:first-child:before {
  content: '\1F488';
  opacity: 0;
}
.prices-btn {
  color: #ffffff;
  display: block;
  margin: 0 auto;
  margin-top: 44px;
}

/**--------------------- BENEFITS ---------------------*/

.benefits-container {
  display: flex;
  padding-left: 85px;
}

.benefits-wrap {
  max-width: 500px;
  padding-top: 9px;
}

.benefits-list {
  display: flex;
  width: 370px;
  flex-wrap: wrap;

  margin-right: 130px;
}

.benefits-item {
  width: 170px;
  height: 133px;
  background-color: #f7f7f7;
  border: 1px solid;
  padding: 20px 24px;
}
.benefits-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-item .count {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
  display: block;
  margin-bottom: 6px;
}

.benefits-item .count::after {
  content: '+';
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;
  color: transparent;
  vertical-align: top;
  text-shadow: 0 9px 0 #ff6c00;
}

.benefits-item .count + p {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.benefits-item-text {
}

.benefits-pre-title {
  color: #303030;
  margin-bottom: 20px;
}

.benefits-title {
  color: var(--second-title-color);
  margin-bottom: 20px;
}

.benefits-post-title {
}

/**--------------------- BARBERS ---------------------*/

.barbers-pre-title {
  color: #303030;
  margin-bottom: 20px;
}

.barbers-title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.barbers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.barbers-item {
  /* width: calc((100% - 60px) / 3); */
  width: 100%;
}

.barbers-item:hover .barbers-top-text {
  transform: translateY(0);
}

.barbers-top-wrap {
  position: relative;
  overflow: hidden;
}

.barbers-top-text {
  position: absolute;
  top: 0;
  padding: 40px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  line-height: 1.5;
  background-color: #ff6c00;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
}

.barbers-item-wrap {
  padding-top: 30px;
}
.barbers-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}
.barbers-item-text {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
  margin-bottom: 30px;
}

.barbers-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.barbers-soc-item {
  width: 44px;
  height: 44px;
}

.barbers-soc-link {
  width: 100%;
  height: 100%;
  background-color: tomato;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.barbers-soc-link:is(:hover, :focus) {
  background-color: blueviolet;
}

.barbers-soc-icon {
  fill: #ffffff;
}

.test-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.test-item {
  width: calc((100% - 30px) / 2);
  height: 90px;
}

.test-link {
  height: 100%;
  border: 2px solid #999999;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #999999;
}

/* .test-icon {
  fill: currentColor;
} */

.test-link:is(:hover, :focus) {
  border-color: rgb(116, 223, 83);
  fill: rgb(116, 223, 83);
}

/* .test-link:is(:hover, :focus) {
  border-color: rgb(116, 223, 83);
}

.test-link:is(:hover, :focus) .test-icon {
  fill: rgb(116, 223, 83);
} */

/**--------------------- Gallery ---------------------*/

.gallery-pre-title {
  color: #303030;
  margin-bottom: 71px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery-item {
  /* width: calc((100% - 90px) / 4); */
  width: 100%;
}

.backdrop {
  position: fixed;
  top: 0;
  background-color: rgba(48, 48, 48, 0.498);
  width: 100%;
  height: 100%;
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  width: 500px;
  min-height: 500px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 30px;
  transition: transform 300ms linear;
  background-color: #e4dddd;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -250%) scaleY(0);
}

.modal-close {
  display: block;
  margin-left: auto;
  margin-bottom: 20px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}

.modal-field {
  margin-bottom: 10px;
  display: block;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 45px;
  border: 1px solid #999999;
  border-radius: 5px;
  background-color: transparent;
  padding-left: 30px;
  font-size: 14px;
  outline: transparent;
  color: cadetblue;
}

.modal-icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-input:focus {
  border-color: #ff6c00;
}

.modal-input:focus + .modal-icon {
  fill: #ff6c00;
}

/* .input-wrap:focus-within .modal-icon {
  fill: #ff6c00;
} */

.modal-input::placeholder {
  color: chocolate;
}

.modal-input:not(:focus):not(:placeholder-shown):valid {
  background-color: rgba(0, 128, 0, 0.259);
}

.modal-input:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgba(128, 9, 0, 0.259);
}

.modal-input:not(:focus):not(:placeholder-shown):invalid + .err {
  display: block;
}

.err {
  color: red;
  display: none;
}

.input-text {
  display: block;
  font-size: 12px;
  color: gray;
  margin-bottom: 5px;
}

.modal-textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #999999;
  border-radius: 5px;
  background-color: transparent;
  padding: 10px;
  font-size: 14px;
  outline: transparent;
  color: cadetblue;
  resize: none;
}

.check-text {
  font-size: 14px;
  color: #7d8397;
  display: flex;
  position: relative;
  align-items: center;
}

.check-text span {
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.input-check:checked + .check-text > span {
  background-color: #ff6c00;
  border: none;
  fill: #ffffff;
}

.input-check:focus + .check-text > span {
  border-color: #ff6c00;
}
/* ---------------------------------------- */

/* .check-text::before {
  content: '';
  width: 40px;
  height: 22px;
  border: 1px solid #9da4bd;
  border-radius: 50px;
  margin-right: 10px;
  transition-duration: 250ms;
}

.check-text::after {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 18px;
  height: 18px;
  background-color: #9da4bd;
  border-radius: 50%;
  transition-duration: 250ms;
}

.input-check:checked + .check-text::after {
  transform: translate(18px);
  background-color: #ffffff;
}

.input-check:checked + .check-text::before {
  background-color: #b7e1ae;
  border-color: transparent;
} */

/* ---------------------------------------- */

/* .check-text::before {
  content: '';
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  margin-right: 10px;
}

.input-check:checked + .check-text::before {
  background-color: #ff6c00;
  border: none;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-position: center;
} */
